.customer-wrapper{
    margin: 15px 0;
}
.customer{
    display:flex; 
    justify-content: space-between;
    width:92%;
    height:400px;
    margin:0 auto;
    border-radius: 15px;
    border:1px solid #d6d6d6;
 }
 .customer>div{
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 15px 15px;
    border-left: 1px solid #d6d6d6;
 }
.customer>div>div{
    text-align: center;
    margin-top: 22px;
    padding-right: 38px;
}
 .customer>div>div>img{ 
    border:1px solid black;
    
}
.customer table{
    border-collapse: collapse;
}
.customer table td{
    border: 1px solid #d6d6d6;
}

.sisco{
    text-decoration: none;
    color:#19C2DD
}

