.footer-bottom{
    display:flex;
    flex-direction: row;
    

}
.footer-bottom-right>h1{
    color:#62666D;
    font-family: "yekan";
    font-size: 20px;
    margin-top: 80px;
    margin-right:50px;
}
.footer-bottom-right-can1{
    color:#898F92;
    font-family:"yekan";
    font-size:13px;
    margin-right:50px;
    margin-left:580px;

}
.footer-bottom-right-can2{
     color:#AFB1B5;
    font-family:"yekan";
    font-size:13px;
    margin-right:50px;
    margin-left:580px;
}
.footer-bottom-right-can3{
     color: #E3E4E5;
    font-family: "yekan";
    font-size: 13px;
    margin-right: 49px;
    margin-top: -3px;
}
.footer-bottom-right>a{
    color:#19BFD3;
    margin-right:50px;
    text-decoration: none;
    font-family:"yekan";
    font-size: 13px;
}
.footer-bottom-left{
    display:flex;
    justify-content: center;
    margin-top:80px;
    margin-left:50px;

}
.footer-bottom-image{
    width: 90px;
}
.footer-bottom-image-fox{
    width: 117px;
}