/* .swiper-slide-next{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}
  */
 .imag{
  width:100px;
  height:100px;

}
 .mySwiped>h2{
  text-align: center;
  font-family: yekan;
 }
 .testbic{
  display:flex; 
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position:relative;
  
 }
.pragraph{
  background-color: #fff;
  color:black;
  font-family: yekan;
  font-size: 13px;
}
div.mySwiped{
  width: 89%;
  margin: 30px auto;
}