/* .swiper-slide-next{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}
  */
  .swiped-column{
    width:92%;
    height:375px;
    position:relative;
    margin:10px auto;
  }
 .imag-1{
  width:100px;
  height:100px;
  margin-bottom:60px;
}
.imag-2{
  width:100px;
  height:100px;
  margin-bottom: 30px;
}
 .mySwiped>h2{
  text-align: center;
  font-family: "yekan";
 }
 .testbic{
  display:flex; 
  flex-direction: column;
  align-content: center;
  text-decoration: none;
  
  
 }
.pragraph{
    background-color: #fff;
    color: black;
    font-family: "yekan";
    font-size: 13px;
    position: absolute;
    top: 127px;
    right: 40px;
}
.pragraph-2{
 background-color: #fff;
    color: black;
    font-family: "yekan";
    font-size: 13px;
    position: absolute;
    top: 133px;
    right: 41px;
  }