a {
  text-decoration: none;
}

.offers {
  display: flex;
  margin: 10px auto;
}
.filter-wrapper {
  width: 20%;
  height: 700px;
  border: 2px solid #bbb;
  position: sticky;
  top: 5px;
  border-radius: 15px;
  overflow: hidden;
}
.product-wrapper {
  width: 80%;
  border: 1px solid #bbb;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 8px;
}
.offers > .filter-wrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  background-color: #eee;
}
.offers > .filter-wrapper ul > li {
  background-color: #fff;
}
.offers > .filter-wrapper ul > li > a {
  display: flex;
  color: #494949;
  justify-content: space-between;
  padding: 20px 20px;
  font-weight: 600;
  font-size: 15px;
}
.offers > .filter-wrapper ul > li > a > i {
  font-size: 22px;
  font-weight: 700;
  transition: transform 200ms;
}
.offers > .filter-wrapper ul > li > a:hover > i {
  transform: rotate(180deg);
}
.offers-wrapper {
  width: 98%;
  margin: 20px auto;
}
.offers > .filter-wrapper > h2 {
  padding: 15px 20px;
}
.offers > .product-wrapper > .gridbox-template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: #eee;
}
.offers > .product-wrapper > .gridbox-template .product-price {
  display: flex;
  justify-content: space-between;
}
.offers > .product-wrapper > .gridbox-template .product-price-origin {
  text-align: left;
}
.offers > .product-wrapper > .gridbox-template .product-rate {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}
.offers > .product-wrapper > .gridbox-template > a.product-card{
  background-color: #fff;

}
.offers > .product-wrapper > .gridbox-template > a:hover {
  box-shadow: 0 0 8px -1px #8d8d8d;
}

.offers > .product-wrapper > .gridbox-template > a.product-card>div{
  padding: 0 8px;
}

.product-image{
  text-align: center;
}
.product-image img{
    width:200px;
}
.product-name p{
    color:#494949;
}
.offers > .product-wrapper > .gridbox-template .product-rate span{
    color:GREEN;
    margin-bottom: 6px;
}
.product-price>.product-price-dis>.product-discount {
    width:30px;
    background-color: red;
    color:whitesmoke;
    border-radius: 15px;
}
.product-price>.product-price-real span{
    color:#494949;

}
.product-price-origin{
    color:#CFC8C5;
}