
        .test{
            height: 70px;
            background-image: url(https://www.digikala.com/statics/img/svg/amazing/header.svg);
            background-color: #ef4056;
            background-repeat: no-repeat;
            background-position:center center;
        }